<h1>vim-survey-results</h1>
<ul>
    <li><a href="https://meain.io/csvtograph/?kind=bar&url=https%3A%2F%2Fmeain.gitlab.io%2Fvim-survey-results%2Fcsvs%2Fwhich-editor.csv">Which text editor do you prefer to use most of the time?</a></li>
    <li> <iframe width="1000px" height="500px" src="https://meain.io/csvtograph/?kind=bar&url=https%3A%2F%2Fmeain.gitlab.io%2Fvim-survey-results%2Fcsvs%2Fwhich-editor.csv"></iframe> </li>
    <li><a href="https://meain.io/csvtograph/?kind=bar&url=https%3A%2F%2Fmeain.gitlab.io%2Fvim-survey-results%2Fcsvs%2Fmost-important-goals.csv">Which text editor do you think has the most important project goals?</a></li>
    <li> <iframe width="1000px" height="500px" src="https://meain.io/csvtograph/?kind=bar&url=https%3A%2F%2Fmeain.gitlab.io%2Fvim-survey-results%2Fcsvs%2Fmost-important-goals.csv"></iframe> </li>
    <li><a href="https://meain.io/csvtograph/?kind=bar&url=https%3A%2F%2Fmeain.gitlab.io%2Fvim-survey-results%2Fcsvs%2Fneovim-should-be-fork.csv">Do you think Neovim should have been a fork *in the first place*?</a></li>
    <li> <iframe width="1000px" height="500px" src="https://meain.io/csvtograph/?kind=bar&url=https%3A%2F%2Fmeain.gitlab.io%2Fvim-survey-results%2Fcsvs%2Fneovim-should-be-fork.csv"></iframe> </li>
    <li><a href="https://meain.io/csvtograph/?kind=bar&url=https%3A%2F%2Fmeain.gitlab.io%2Fvim-survey-results%2Fcsvs%2Fneovim-stay-fork.csv">Do you think that Neovim should *stay* a fork - should Vim merge with Neovim?</a></li>
    <li> <iframe width="1000px" height="500px" src="https://meain.io/csvtograph/?kind=bar&url=https%3A%2F%2Fmeain.gitlab.io%2Fvim-survey-results%2Fcsvs%2Fneovim-stay-fork.csv"></iframe> </li>
    <li><a href="https://meain.io/csvtograph/?kind=bar&url=https%3A%2F%2Fmeain.gitlab.io%2Fvim-survey-results%2Fcsvs%2Fneovim-fork-speedup-vim-improvement.csv">Do you think Neovim becoming a fork of Vim sped up the rate of new improvements?</a></li>
    <li> <iframe width="1000px" height="500px" src="https://meain.io/csvtograph/?kind=bar&url=https%3A%2F%2Fmeain.gitlab.io%2Fvim-survey-results%2Fcsvs%2Fneovim-fork-speedup-vim-improvement.csv"></iframe> </li>
    <li><a href="https://meain.io/csvtograph/?kind=bar&url=https%3A%2F%2Fmeain.gitlab.io%2Fvim-survey-results%2Fcsvs%2Fneovim-old-drop.csv">How does the fact that Neovim dropped support for retro tech affect your day-to-day usage of your computer?</a></li>
    <li> <iframe width="1000px" height="500px" src="https://meain.io/csvtograph/?kind=bar&url=https%3A%2F%2Fmeain.gitlab.io%2Fvim-survey-results%2Fcsvs%2Fneovim-old-drop.csv"></iframe> </li>
    <li><a href="https://meain.io/csvtograph/?kind=bar&url=https%3A%2F%2Fmeain.gitlab.io%2Fvim-survey-results%2Fcsvs%2Frate-vi.csv">rate-vi</a></li>
    <li> <iframe width="1000px" height="500px" src="https://meain.io/csvtograph/?kind=bar&url=https%3A%2F%2Fmeain.gitlab.io%2Fvim-survey-results%2Fcsvs%2Frate-vi.csv"></iframe> </li>
    <li><a href="https://meain.io/csvtograph/?kind=bar&url=https%3A%2F%2Fmeain.gitlab.io%2Fvim-survey-results%2Fcsvs%2Frate-vim.csv">rate-vim</a></li>
    <li> <iframe width="1000px" height="500px" src="https://meain.io/csvtograph/?kind=bar&url=https%3A%2F%2Fmeain.gitlab.io%2Fvim-survey-results%2Fcsvs%2Frate-vim.csv"></iframe> </li>
    <li><a href="https://meain.io/csvtograph/?kind=bar&url=https%3A%2F%2Fmeain.gitlab.io%2Fvim-survey-results%2Fcsvs%2Frate-neovim.csv">rate-neovim</a></li>
    <li> <iframe width="1000px" height="500px" src="https://meain.io/csvtograph/?kind=bar&url=https%3A%2F%2Fmeain.gitlab.io%2Fvim-survey-results%2Fcsvs%2Frate-neovim.csv"></iframe> </li>
    <li><a href="https://meain.io/csvtograph/?kind=bar&url=https%3A%2F%2Fmeain.gitlab.io%2Fvim-survey-results%2Fcsvs%2Frate-gvim.csv">rate-gvim</a></li>
    <li> <iframe width="1000px" height="500px" src="https://meain.io/csvtograph/?kind=bar&url=https%3A%2F%2Fmeain.gitlab.io%2Fvim-survey-results%2Fcsvs%2Frate-gvim.csv"></iframe> </li>
    <li><a href="https://meain.io/csvtograph/?kind=bar&url=https%3A%2F%2Fmeain.gitlab.io%2Fvim-survey-results%2Fcsvs%2Frate-macvim.csv">rate-macvim</a></li>
    <li> <iframe width="1000px" height="500px" src="https://meain.io/csvtograph/?kind=bar&url=https%3A%2F%2Fmeain.gitlab.io%2Fvim-survey-results%2Fcsvs%2Frate-macvim.csv"></iframe> </li>
    <li><a href="https://meain.io/csvtograph/?kind=bar&url=https%3A%2F%2Fmeain.gitlab.io%2Fvim-survey-results%2Fcsvs%2Frate-nvimqt.csv">rate-nvimqt</a></li>
    <li> <iframe width="1000px" height="500px" src="https://meain.io/csvtograph/?kind=bar&url=https%3A%2F%2Fmeain.gitlab.io%2Fvim-survey-results%2Fcsvs%2Frate-nvimqt.csv"></iframe> </li>
    <li><a href="https://meain.io/csvtograph/?kind=bar&url=https%3A%2F%2Fmeain.gitlab.io%2Fvim-survey-results%2Fcsvs%2Fhow-configure.csv">How do you configure your text editor/(s)?</a></li>
    <li> <iframe width="1000px" height="500px" src="https://meain.io/csvtograph/?kind=bar&url=https%3A%2F%2Fmeain.gitlab.io%2Fvim-survey-results%2Fcsvs%2Fhow-configure.csv"></iframe> </li>
    <li><a href="https://meain.io/csvtograph/?kind=bar&url=https%3A%2F%2Fmeain.gitlab.io%2Fvim-survey-results%2Fcsvs%2Fssh.csv">SSH - please check all the options that apply to you.</a></li>
    <li> <iframe width="1000px" height="500px" src="https://meain.io/csvtograph/?kind=bar&url=https%3A%2F%2Fmeain.gitlab.io%2Fvim-survey-results%2Fcsvs%2Fssh.csv"></iframe> </li>
    <li><a href="https://meain.io/csvtograph/?kind=bar&url=https%3A%2F%2Fmeain.gitlab.io%2Fvim-survey-results%2Fcsvs%2Feveryday-usage.csv">In everyday usage...</a></li>
    <li> <iframe width="1000px" height="500px" src="https://meain.io/csvtograph/?kind=bar&url=https%3A%2F%2Fmeain.gitlab.io%2Fvim-survey-results%2Fcsvs%2Feveryday-usage.csv"></iframe> </li>
    <li><a href="https://meain.io/csvtograph/?kind=bar&url=https%3A%2F%2Fmeain.gitlab.io%2Fvim-survey-results%2Fcsvs%2Fidea-world.csv">In an ideal world...</a></li>
    <li> <iframe width="1000px" height="500px" src="https://meain.io/csvtograph/?kind=bar&url=https%3A%2F%2Fmeain.gitlab.io%2Fvim-survey-results%2Fcsvs%2Fidea-world.csv"></iframe> </li>
</ul>
